{% extends 'base.html' %}
{% block content %}
    <h2>{{ program.code }} - {{ program.name }}</h2>
    <p><strong>Випускова кафедра:</strong> <a href="/departments/{{ program.department.id }}/">{{ program.department.name }}</a></p>
    
    <h3>Опис спеціальності</h3>
    <p>{{ program.description }}</p>
    
    <h3>Дисципліни</h3>
    <p>{{ program.disciplines }}</p>
    
    <h3>Контакти координатора</h3>
    <p><strong>Ім'я:</strong> {{ program.coordinator_name }}</p>
    <p><strong>Email/Тел:</strong> {{ program.coordinator_contact }}</p>
{% endblock %}